body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #333;
  background-color:#fff9f1
}

header {
    margin-top: 10vh;
    height: 100vh;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 10vh;
    justify-content: center;
}

.intro h1 {
    font-size: 4rem;
}

.intro p {
    font-size: 2rem;
}

.header-text {
    width: 35vw;
}

.header-image {
    width: 30vw;
}

header, footer {
  text-align: center;
}

a {
  color: #007acc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.project {
  border-bottom: 1px solid #ccc;
  padding: 1em 0;
}

#about {
    background-color: #ffe6e6;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    position: relative;
    border-radius: 60% 60% 60% 60% / 60% 60% 60% 60%;
}

#about::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #ffe6e6;
    border-radius: 50% 50% 0 0;
}

#about::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #ffe6e6;
    border-radius: 0 0 50% 50%;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}